* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

#cabecalho>h1 {
    text-align: center;
    color: #fff;
    background-color: #100000 !important;
    padding: 20px 0;
    margin: 0;
    box-shadow: 4px 3px 5px #41416d;
    font-size: 64px;
}

#cabecalho li {
    display: inline-block;
    margin: 0 11%;
}

#cabecalho li img {
    display: block;
    width: 50%;
    min-width: 10%;
}

#cabecalho {
    background-color: blue;
}

#conteudo {
    font-size: 1em;
    line-height: 1.5em
}

.h1 {
    font-family: sans-serif;
}

.h2 {
    font-family: sans-serif;
}

.links {
    font-weight: bold;
    margin: 15px 0;
}

.container * {
    margin: 20px 20px 20px 20px;
}