*{
    background-color: #101213;
    color: white;
}

.container-index{
    display: flex;
}

.bloco2{
    flex-direction: column;
}

.h1{
    font-size: 36pt;
    font-family: 'Times New Roman', Times, serif;
    color: #ed145b;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.h2{
    font-size: 20pt;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0px;
}

.h3{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
}

.h4{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
}

.img{
    height: 330px;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.conteudo-principal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.titulos-sites{
    font-size: 25pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px
}

.centralizador{
    text-align: center;
    align-items: center;
}